.card {
  width: 18rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;

}

.card-custom {
  position: relative;
  top: 2rem;
  left: 2rem;
}

//center boton 
.btn-center {
  display: flex;
  justify-content: center;
}

.btn{

}