.img-carrito{
position: relative;
top: 10px;

/*right: -20px;*/


filter: invert(100%) grayscale(100%) brightness(1000%);
text-decoration: none;

}

.texto{
  font-weight: bold;
  position: relative;
  left: -8px;
}

.navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 9999; /* asegura que el navbar esté por encima de cualquier otro elemento */
  }
.nav-item.a{
  text-align: center;

}

.navbar-custom {
  background-color:  #4ca9d8;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  text-align: center;
}
