/* You can add global styles to this file, and also import other style files */
body, html, app-root {
    background: rgb(42,108,227);
    background: linear-gradient(90deg, rgba(42,108,227,1) 28%, rgba(43,179,230,1) 56%);
  
  }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
