/* You can add global styles to this file, and also import other style files */
body, html, app-root {
    background-image: radial-gradient(circle at 87.5% 12.5%, #b4e477 0, #a6e780 10%, #97e989 20%, #87eb93 30%, #75ed9e 40%, #61eea9 50%, #48efb5 60%, #21f0c1 70%, #00f1ce 80%, #00f1da 90%, #00f1e7 100%);
  }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
