<div class="contenedor">
  <app-nav></app-nav>
  <div>
    <h1 class="title">Bienvenido al Club Campestre La Buena Vida</h1>
  </div>

  <div class="parrafo-1">
    <p>
      Bienvenidos al Club Campestre "La Buena Vida", el lugar perfecto para
      relajarte y disfrutar de la naturaleza en un ambiente tranquilo y
      exclusivo.
    </p>
  </div>
  <div class="parrafo-2">
    <p>
      En el Club Campestre "La Buena Vida" te ofrecemos una amplia variedad de actividades para todas
      las edades, desde clases de yoga y pilates, hasta eventos sociales y
      familiares. También contamos con un área infantil donde los más pequeños
      podrán divertirse mientras los padres disfrutan de un momento de
      tranquilidad.
    </p>
  </div>
  <p>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/country-club-uc.appspot.com/o/club-img-3-removebg-preview.png?alt=media&token=a95702c1-8228-4a49-b8be-23a4cb331cb4"
      alt="Club Campestre La Buena Vida"
      class="img-fluid"
    />
    <button class="btn" routerLink="/reserva">Reserva Ahora!!</button>
  </p>
</div>

<!-- <img
src="https://firebasestorage.googleapis.com/v0/b/country-club-uc.appspot.com/o/club-img-1-removebg-preview.png?alt=media&token=2838ab60-b0de-4535-9475-ceeef75d4224"
alt="Club Campestre La Buena Vida"
class="img-fluid-2"/> -->
